<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://java.sun.com/jsf/html">

<f:view encoding="UTF-8" contentType="text/html">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
            <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
            <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"/> -->
            <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'"/> -->
            <title>My JSF 2,3 and PrimeFaces application</title>
        </f:facet>
    </h:head>

    <h:body>
        <h:outputScript library="js" name="mysripts.js" target="body"/>

        <div id="container">
            <div id="header">
                <ui:insert name="header">
                    <h1>PF 8 CSP test</h1>
                    <a href="https://primefaces.github.io/primefaces/8_0/#/core/contentsecuritypolicy">Documentation</a>
                    <br></br>
                    <p:commandButton value="Say Hello via JS"
                                     onclick="sayHello()"
                    />
                </ui:insert>
            </div>

            <div id="content">
                <ui:insert name="content">
                    Content
                </ui:insert>
            </div>

            <div id="footer">
                <ui:insert name="footer">
                    Powered by Java 11, PF 8, Apache MyFaces 2.3
                </ui:insert>
            </div>
        </div>
    </h:body>

</f:view>
</html>